<ion-header>
  <ion-navbar>
    <ion-title text-center>s p e c t 8 r</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div text-left>
          {{event.eventName}}
        </div>
      </ion-col>
      <ion-col>
        <div text-right>
          {{event.eventDate}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div padding-bottom>
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="images">Images</ion-segment-button>
      <ion-segment-button value="setlist">Setlist</ion-segment-button>
      <ion-segment-button activated value="settings">Settings</ion-segment-button>
    </ion-segment>
  </div>

  <ion-list *ngIf="segment == 'images'" no-lines>
    <ion-card *ngFor="let image of event.myImages">
      <img src="{{image.imageUrl}}" alt="">
    </ion-card>
  </ion-list>

  <ion-list *ngIf="segment == 'setlist'" no-lines>
    <ion-item>
      <ion-label stacked>Setlist</ion-label>
      <ion-input value="{{setlistUrl}}"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="segment == 'settings'">
    <ion-item no-lines>
      <ion-label stacked>{{headlinerLabel}}</ion-label>
      <ion-input *ngFor="let artist of event.headliningArtists" 
                 value="{{artist.artistName}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="event.supportingArtists.length > 0" no-lines>
      <ion-label stacked>{{supportingLabel}}</ion-label>
      <ion-input *ngFor="let artist of event.supportingArtists" 
                 value="{{artist.artistName}}"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-label stacked>Venue</ion-label>
      <ion-input value="{{venueName}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Date</ion-label>
      <ion-input value="{{date}}"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <button ion-button padding>Save</button>
      <button ion-button padding color="light">Cancel</button>
      <button ion-button padding color="danger" float-right>Remove</button>
    </ion-item>
  </ion-list>
  
</ion-content>
